@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #020617 #334155;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #020617;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 14px;
  border: 3px solid #020617;
}

@layer components {
  body {
    @apply text-slate-100 tracking-wide text-lg
  }
}

/* tracking-wide font-normal bg-stone-950 */